@model HattmakarenWebbAppGrupp03.Models.ViewModels.OrderDetailsViewModel

<div class="d-flex justify-content-between align-items-center my-4">
	<h2>Orderdetalj</h2>
	<a asp-action="Index" class="btn rosa fw-bold">Tillbaka</a>
</div>

@* Orderinfo *@
<div class="d-flex justify-content-center my-4">

    <div class="card shadow col-md-8 col-lg-6 p-3 ljuslila" style="border-radius: 3rem">

        @* Rad 1: Allmän info*@
        <div class="card-header rosa" style="border-radius: 1rem">
            <div class="row">

                <div class="col-md-6">
                    <div><strong>Order:</strong> @(Model.order.OId)</div>
                    <div><strong>Datum:</strong> @(Model.order.OrderDate.ToShortDateString())</div>
                    <div><strong>Skapad av:</strong> @(Model.order.CreatedBy?.Name)</div>
                </div>

                <div class="col-md-6">
                    <div>
                        <strong>Kund:</strong>
                        <a asp-controller="Customer"
                           asp-action="View"
                           asp-route-id="@(Model.order.CustomerId)"
                           class="fw-bold text-decoration-none">
                            @(Model.order.Customer?.Name)
                        </a>
                    </div>

                    <div><strong>Leverans:</strong> @(Model.order.PrelDeliveryDate.ToShortDateString())</div>
                    <div><strong>Status:</strong> @(Model.order.Status)</div>

                </div>

            </div>
        </div>

        @* Rad 2: Beskrivning*@
        <div class="card-body rosa my-1" style="border-radius: 1rem">

            <h6 class="card-title">Beskrivning</h6>

            <p class="card-text text-break">
                @(Model.order.Description ?? "Ingen beskrivning tillgänglig.")
            </p>

        </div>

        @* Rad 3: Prisdetaljer*@
        <div class="card-footer rosa d-flex justify-content-between align-items-start" style="border-radius: 1rem">

            <div class="d-flex flex-column">

                <div>
                    Express: @(Model.order.Express ? "Ja (+20%)" : "Nej")
                </div>

                <div>
                    Rabatt: @(Model.order.Discount.ToString() + "%")
                </div>

                <div>
                    <small class="text-muted"> @(Model.order.DiscountDesc ?? "Ingen beskrivning tillgänglig.")</small>
                </div>

            </div>

            <div class="text-end">
                <strong>Beräknat Pris:</strong><br />
                @(Model.order.Price.ToString("C"))
            </div>

        </div>

    </div>

</div>

@* OrderInnehåll *@
<h2>Orderinnehåll</h2>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Antal</th>
            <th>Pris/Styck</th>
            <th>Storlek</th>
            <th>Bild</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.hatOrders)
        {
            <tr>
                <td>@item.HId</td>
                <td>@item.Hat?.Name</td>
                <td>@item.Amount</td>
                <td>@item.Hat?.Price.ToString("C")</td>
                <td>@item.Hat?.Size</td>
                <td>
                    @if (string.IsNullOrEmpty(item.Hat?.PicturePath))
                    {
                        <span class="text-muted">Otillgänglig</span>
                    }
                    else
                    {
                        <a href="#" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#imageModal" 
                        data-img="@item.Hat?.PicturePath"> Visa Bild</a>
                    }
                </td>
                <td>
                    <span class="badge @(ColorForBadge(item.Status))">
                        @item.Status
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Modal för att visa bild *@
<div class="modal fade" id="imageModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Bild</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <img id="modalImage" class="img-fluid" />
            </div>

        </div>
    </div>
</div>

<script>
    var imageModal = document.getElementById('imageModal');

    imageModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var imgSrc = button.getAttribute('data-img');
        document.getElementById('modalImage').src = imgSrc;
    });
</script>

@functions {
    public string ColorForBadge(string itemStatus)
    {
        if (itemStatus == "Ej Påbörjad")
        {
            return "bg-secondary";
        }
        else if (itemStatus == "Påbörjad")
        {
            return "bg-primary";
        }
        else if (itemStatus == "Färdig")
        {
            return "bg-success";
        }
        else // if (itemStatus == "Skickad")
        {
            return "bg-skickad text-dark";

        }
    }
}



@* Gamla OrderDetalj 
 <div class="d-flex justify-content-center">
    <div class="d-flex flex-column ljuslila justify-content-between box-shadow col-md-8 col-lg-6"
         style="border-radius: 5rem; overflow: hidden;">

        ÖVER
        <div class="d-flex flex-row p-3">
            VÄNSTER 
            <div class="d-flex flex-column w-50 align-content-around justify-content-evenly flex-wrap gap-2">
                <span>Ordernummer: @Model.order.OId</span>
                <span>Beställningsdatum: @Model.order.OrderDate.ToShortDateString()</span>
                <span>Skapad av: @Model.order.CreatedBy?.Name</span>
                <span>Rabatt: @Model.order.Discount.ToString("P")</span>
                <span>Beräknat pris: @Model.order.Price.ToString("C")</span>
            </div>

            HÖGER
            <div class="d-flex flex-column w-50 align-content-around justify-content-evenly flex-wrap gap-2">
                <span>
                    Kund:
                    <a asp-controller="Customer" asp-action="View" asp-route-id="@Model.order.CustomerId" class="text-decoration-none fw-bold text-dark"> @Model.order.Customer?.Name</a>
                </span>
                <span>Beräknad leverans: @Model.order.PrelDeliveryDate.ToShortDateString()</span>
                <span>Expressleverans: @(Model.order.Express ? "Ja" : "Nej")</span>
                <span>Rabattbeskrivning: @Model.order.DiscountDesc</span>
                <span>Status: @Model.order.Status</span>
            </div>
        </div>

        NEDRE
        <div class="border p-4 text-wrap text-break">
            @(Model.order.Description ?? "Ingen beskrivning tillgänglig.")
        </div>
    </div>
</div> *@